.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.post-header-avatar {
  display: table-cell;
  vertical-align: top
}
.post-header-body {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
.post-user-avatar {
  height: 35px;
  width: 35px;
}
.panel-body {
  padding-bottom: 10px;
}
.comment-avatar-user {
  display: table-cell;
  vertical-align: top;
  padding-top: 3px;
}
.comment {
   margin-top: 10px;
}
.comment-body {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  width: 100%;
}
.comment-user-avatar {
  height: 27px;
  width: 27px;
  margin-bottom: 2px;
}
.comment-typing {
  width: 92%;
  margin-top: 15px;
}
.sub-comment-item {
  margin-top : 5px;
}
.sub-comment-user-avatar {
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
}
.sub-comment-typing {
  height:23px;
  width: 92%;
  margin-top: 10px;
}